textarea.input-block-level {
	resize: vertical;
	/* legacy */
	min-width: 100%;
	max-width: 100%;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.footer hr {
	border-top: 1px solid #cccccc;
}

#lang-box {
	float: right;
}

#lang-select {
	margin-bottom: 0;
}

.translate-help {
	text-align: center;
	margin-top: 0;
}

.table-editable {
	margin-top: 20px;
}
